STORAGE_BACKEND=postgres
SERVER_ADDRESS=:8080
ISSUER_URL=http://localhost:8080
POSTGRES_DSN=postgres://eris:eris@localhost:5432/eris?sslmode=disable
POSTGRES_CONTAINER=eris-postgres
POSTGRES_IMAGE=postgres:16
POSTGRES_USER=eris
POSTGRES_PASSWORD=eris
POSTGRES_DB=eris
POSTGRES_PORT=5432
POSTGRES_HOSTNAME=localhost
POSTGRES_VOLUME=eris-postgres-data
MIGRATE_IMAGE=migrate/migrate:v4.18.3
